.entry-header {
  display: none;
}

// #main-nav {
//   position:fixed;
//   padding: 10px 0px 10px 0px;
//   top:0;
//   right:0;
//   left:0;
//   z-index:99;
// }

@font-face {
  font-family: futura-book;
  src: url(../fonts/futura-book.ttf);
}

$primary: black; // Once we've changed the value, we'll also make it the primary brand color.
$secondary: #C9C9C9;
$refinement: #BA181B;

$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;

body {
  font-family: 'futura-book', futura-book;
  font-size: 18px;
  line-height: 1.25;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

#wrapper-navbar {
  .top-header-holder {
    height: 200px;
    background-color: $primary;
    color: white;

    .container {
      padding: 10px 0 10px 0;

      .logo-holder {
        display: block;

      }

      .col-6 {
        @media (max-width: $lg) {
          text-align: center;
        }
      }

      .social-media,
      .tablet-social-media {
        padding-top: 100px;

        a {
          color: $secondary;
          text-decoration: none;

          &:hover {
            color: darken($secondary, $amount: 15%);
          }
        }

        @media (max-width: $lg) {
          display: none;
        }

        &.tablet-social-media {
          display: none;

          @media (max-width:$lg) {
            display: inline-block;
            padding-top: 0px;
            font-size: 15px;
          }
        }
      }

      .contact-holder {
        color: white;
        padding-top: 20px;
        width: 350px;

        a {
          display: inline-block;
          margin-right: 0.5em;
          margin-bottom: 0.5em;
          color: $secondary;

          .fa {
            color: #C9C9C9;
          }
        }

        @media (max-width:$lg) {
          .address {
            display: none;
          }
        }
      }

      .booking-btn {
        font-family: 'Fredericka the Great', cursive;
        color: $secondary;
        font-size: 38px;
        border: 1px dotted $secondary;
        display: inline-block;
        width: 60%;
        text-align: center;
        padding: 0.25em 0.5em;
        border-radius: 0.2em;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background: $secondary;
          color: $primary;
        }

        @media (max-width:$lg) {
          font-size: 18px;
        }
      }
    }
  }

  // margin-bottom: -360px;

  #main-nav {
    border-top: 1px solid rgba($refinement, 0.5);
    border-bottom: 1px solid rgba($refinement, 0.5);

    ul {
      flex: 1;
      justify-content: space-between;

      li {
        a {
          font-weight: 500;
          font-size: 20px;
          text-transform: uppercase;
          padding: .5em 0.5em;

          @media (max-width: $xl) {
            font-size: 18px;
            padding: .25em 0.25em;
          }
        }

        &.current_page_item {
          a {
            color: $refinement;
          }
        }
      }
    }
  }
}

.home-banner {
  height: 540px;
  padding-top: 100px;
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner-img.jpg);
  background-size: cover;
  background-position: top center;
  text-align: center;
  color: $secondary;
  text-shadow: 2px 2px $primary;
  font-size: 200px;
  font-family: 'Fredericka the Great',
    cursive;

  .join-btn {
    color: $secondary;
    padding-bottom: 100px;
    font-size: 100px;
    display: inline-block;
    width: 60%;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $refinement;
    }

  }
}

.btn-secondary {
  color: #ffff;
  background-color: #BA181B;
  border-color: #0B090A;
}




.wrapper {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.entry-content {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5%;
  color: $secondary;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

#wrapper-footer {
  height: 80px;
  background: $primary;
  color: $secondary;
  text-align: center;
  position: relative;
}

.table {
  color: $secondary;
}

.wp-block-table .has-fixed-layout {
  table-layout: fixed;
  width: 100%;
  color: $secondary  !important;
}

.wp-block-button__link {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: $refinement;
  font-size: 12px;
  color: $refinement  !important;
}

.wp-block-latest-posts__featured-image {
  padding-left: 50px;

  @media (max-width:$lg) {
    padding-left: 0px;
  }
}


.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
  margin-bottom: 50px;
  border-bottom: 1px solid $refinement;
  padding: 15px;
  font-size: 20px;

  @media (max-width:$lg) {
    padding: 0px;
    margin-bottom: 10px;
  }
}

.wp-block-jetpack-contact-form {
  margin: auto;
}