// .page .entry-title{
//     padding-top: 40px;
// }

// #main-nav {
//   position:fixed;
//   padding: 10px 0px 10px 0px;
//   top:0;
//   right:0;
//   left:0;
//   z-index:99;
// }

@font-face {
  font-family: futura-book;
  src: url(../fonts/futura-book.ttf);
}

$primary: black; // Once we've changed the value, we'll also make it the primary brand color.
$secondary: #C9C9C9;
$refinement: #BA181B;

$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;

body {
  font-family: 'futura-book', futura-book;
  font-size: 18px;
  line-height: 1.25;
}

.home-banner {
  height: 1080px;
  background-image: url(../img/home-banner.jpg);
  background-size: cover;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

#wrapper-navbar {
  .top-header-holder {
    height: 200px;
    background-color: $primary;
    color: white;

    .container {
      padding: 10px 0 10px 0;

      .social-media {
        padding-top: 100px;

        a {
          color: $secondary;
          text-decoration: none;

          &:hover {
            color: darken($secondary, $amount: 15%);
          }
        }
      }

      .logo-holder {
        .logo {
          padding: 0.25em;
        }
      }

      .contact-holder {
        color: white;
        padding-top: 20px;
        width: 350px;
      }

      .booking-btn {
        font-family: 'Fredericka the Great', cursive;
        color: $secondary;
        font-size: 38px;
        border: 1px dotted $secondary;
        display: inline-block;
        width: 60%;
        text-align: center;
        padding: 0.25em 0.5em;
        border-radius: 0.2em;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background: $secondary;
          color: $primary;
        }
      }
    }
  }

  // margin-bottom: -360px;

  #main-nav {
    border-top: 1px solid rgba($refinement, 0.5);
    border-bottom: 1px solid rgba($refinement, 0.5);

    ul {
      flex: 1;
      justify-content: space-between;

      li {
        a {
          font-weight: 500;
          font-size: 20px;
          text-transform: uppercase;
          padding: .5em 0.5em;

          @media (max-width: $xl) {
            font-size: 18px;
            padding: .25em 0.25em;
          }
        }

        &.current_page_item {
          a {
            color: $refinement;
          }
        }
      }
    }
  }
}